/*
Miscellaneous
*/
main{
	display: flex;
  background: #F0EEED;
}

hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
}


/*
Menu
*/
#menuContainter {
  width: 100%;
  height: calc(100vh - 40px);
  border-radius: 3px;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  color: #D0D7D9;
  text-align: left;
  overflow-y: auto;
  display: block;
  z-index: 3;
}

#menu{
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.8);
  width: 20vw;
  z-index: 2;
}

#menuList div :hover{
  cursor: pointer;
}

#hamburgerButton{
  position: absolute;
  right: 5px;
}

.hamburger{
	width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.searchBusinesses{
  margin: 40px auto 0 auto;
}

#placesSearch{
  width: 85%;
}

/*
Map
*/
#map {
  height: 100vh;
  width: 100vw;
}

/*
Info Window
*/
.infoWindow{
  font-size: initial;
}

.centerText{
  text-align: center;
}

.oneLine{
  display: inline-block;
}


/*
Screen Breaks
*/
@media screen and (max-width:749px){
  main{
    font-size: smaller;
  }

  .hamburger{
    display: block;
  }

  #menu{
    width: 60vw;
  }

}
@media screen and (min-width:750px){
  main{
    font-size: initial;
  }
  .infoWindow{
    font-size: initial;
  }
}