/*
Miscellaneous
*/
main{
	display: flex;
  background: #F0EEED;
}

hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
    width: 90%;
}


/*
Menu
*/
#menuContainter {
  width: 100%;
  height: calc(100vh - 90px);
  border-radius: 3px;
  line-height: 35px;
  padding: 10px 0px 0px 0px;
  color: #D0D7D9;
  text-align: center;
  overflow-y: auto;
  display: block;
  z-index: 3;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.0); 
}

.restaurantListing{
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.restaurantListing :hover{
  cursor: pointer;
}

#menu{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20vw;
  z-index: 2;
}

#hamburgerSearch{
  color: #D0D7D9;
  background: rgba(0, 0, 0, 0.8);
  height: 90px;
  border-radius: 5px;
}

#search{
  padding-left: 5px;
}

#hamburgerButton{
  position: absolute;
  top: 5px;
  right: 5px;
}

.hamburger{
	width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.searchBusinesses{
  margin: auto auto 0 auto;
  padding-top: 40px;
}

#placesSearch{
  width: 90%;
  max-width: 200px;
}

.form{
  width: 90%;
  display: inline-block;
}

.submit{
  margin-left: 5px;
}

/*
Map
*/
#map {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

/*
Info Window
*/
.infoWindow{
  font-size: initial;
}

.centerText{
  text-align: center;
}

.oneLine{
  display: inline-block;
}


/*
Screen Breaks
*/
@media screen and (max-width:749px){
  main{
    font-size: smaller;
  }

  #menu{
    width: 65vw;
  }
}

@media screen and (min-width:750px){
  main{
    font-size: initial;
  }
}